<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.bio-lakehouse.inbox-mover</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/nomathadejenkins/Desktop/Bio Lakehouse/scripts/move_downloads_to_inbox.sh</string>
    </array>

    <key>WatchPaths</key>
    <array>
        <string>/Users/nomathadejenkins/Downloads</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>/Users/nomathadejenkins</string>
    </dict>
</dict>
</plist>
